@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  --pretendard-thin: 100;
  --pretendard-extralight: 200;
  --pretendard-light: 300;
  --pretendard-regular: 400;
  --pretendard-medium: 500;
  --pretendard-semibold: 600;
  --pretendard-bold: 700;
  --pretendard-extrabold: 800;
  --pretendard-black: 900;

  --light-gray: #f2f2f2;
  --btn-bg: #212529;
  --text-basic-color: #1d1b1c;
}

body {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text-basic-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--text-basic-color);
}

/* header & footer */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--light-gray);
  padding: 10px 100px;
  min-height: 40px;
}

footer {
  background-color: var(--light-gray);
  min-height: 40px;
  padding: 20px 40px;

  font-size: 14px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.headre__right {
  display: flex;
  align-items: center;
}

.header__write--btn {
  font-size: 14px;
  font-weight: var(--pretendard-semibold);
  color: white;

  background-color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
  border-radius: 2em;

  padding: 8px 20px;

  cursor: pointer;
}

.header__write--btn:hover {
  background-color: white;
  color: var(--text-basic-color);
}

header a.blog__home {
  font-size: 20px;
  font-weight: var(--pretendard-bold);
  text-decoration: none;
}

header a:not(.blog__home),
footer a {
  margin: 0 10px;

  text-decoration: none;
  color: gray;
}

header a:not(.blog__home):hover,
header a:not(.blog__home):focus,
footer a:hover,
footer a:focus {
  color: var(--text-basic-color);
}

/* post navigation */
.post__navigation {
  display: flex;
  gap: 12px;

  font-size: 16px;
  color: gray;

  cursor: pointer;
  padding: 48px 200px 0 200px;
}

.post__navigation--active {
  color: var(--text-basic-color);
  font-weight: var(--pretendard-semibold);
}

/* post list */
.post__list,
.post__detail {
  min-height: 90vh;

  padding: 20px 200px;
  margin: 0 auto;

  text-align: left;
  line-height: 1.5;
}

.post__list a {
  text-decoration: none;
}

/* post box */
.post__box {
  padding-top: 24px;
  padding-bottom: 24px;

  border-top: 1px solid var(--light-gray);
}

.post__profile-box {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
}

.post__profile {
  width: 40px;
  height: 40px;

  background-color: var(--light-gray);
  border-radius: 50%;
}

.post__created-at,
.post_author-name {
  color: gray;
}

.post__title {
  font-size: 20px;
  font-weight: var(--pretendard-semibold);

  margin: 20px 0 14px;
}

.post__text {
  color: dimgray;
  font-size: 16px;
}

.post__utils-box {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;

  font-size: 14px;
  color: gray;

  margin-top: 10px;
}

.post__utils-box a {
  text-decoration: none;
  color: gray;
}

.post__utils-box div {
  cursor: pointer;
}

.post__delete:hover,
.post__delete:focus,
.post__edit:hover,
.post__edit:focus,
.post__utils-box a:hover,
.post__utils-box a:focus {
  color: var(--text-basic-color);
}

/* post detail */
.post__detail .post__title {
  font-size: 36px;
}

.post__detail .post__utils-box {
  padding: 10px 0;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);

  flex-direction: row;
}

.post__detail .post__profile-box {
  padding: 10px 0;
}

.post__detail .post__content {
  padding: 20px 0;
}

.post__detail .post__box {
  border: none;
}

/* profile */
.profile__box {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  text-align: left;
  line-height: 1.6;

  padding: 20px 200px;
}

.flex__box-lg {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile__image {
  width: 72px;
  height: 72px;

  background-color: var(--light-gray);
  border-radius: 50%;
}

.profile__name {
  font-size: 16px;
  padding-top: 4px;
}

.profile__email {
  font-weight: var(--pretendard-medium);
}

.profile__logout {
  color: gray;
  text-decoration: none;

  font-size: 14px;
}

.profile__logout:hover,
.profile__logout:focus {
  color: var(--text-basic-color);
}

/* carousel */
.carousel {
  margin: 0 auto;
  margin-top: 36px;
  padding: 0 200px;

  --carousel-height: 400px;
}

ul.carousel__slides {
  display: block;
  position: relative;

  height: var(--carousel-height);

  margin: 0;
  padding: 0;

  overflow: hidden;
  list-style: none;
}

.carousel__slides * {
  /* 사용자 선택 불가 */
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.carousel__slides input {
  display: none;
}

.carousel__slide-container {
  display: block;
}

.carousel__slide-img {
  display: block;
  position: absolute;

  width: 100%;
  height: 100%;
  top: 0;

  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.carousel__slide-img img {
  width: auto;
  min-width: 100%;
  height: 100%;

  object-fit: cover;
}

.carousel__slide-container.carousel__slide-checked .carousel__slide-img {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease-in-out;
}

.carousel__controls {
  position: absolute;
  z-index: 999;

  top: 0;
  left: 0;
  right: 0;

  font-size: 30px;
  line-height: var(--carousel-height);
  color: #fff;
}

.carousel__controls label {
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  cursor: pointer;
}

.carousel__slide-img:hover + .carousel__controls label {
  opacity: 0.5;
}

.carousel__controls:hover label {
  opacity: 1;
}

.carousel__controls .carousel__slide-prev {
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel__controls .carousel__slide-next {
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel__dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.carousel__dots .carousel__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;

  cursor: pointer;
}

.carousel__dot-checked {
  opacity: 1 !important;
}

/* post form */
.form {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 100px;
}

.form input {
  height: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 0.3rem;
  border: 1px solid gray;
  width: 96%;
  max-width: 680px;
}

.form textarea {
  min-height: 400px;
  padding: 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid gray;
  width: 96%;
  max-width: 680px;
}

.form .form__block {
  margin-top: 20px;
  width: 100%;
}

.form label {
  display: block;
  font-weight: var(--pretendard-medium);
  margin-bottom: 10px;
  margin-top: 20px;
}

.form__btn--submit {
  width: 100% !important;
  height: 50px !important;
  padding: 10px;
  margin: 0 auto;

  float: right;
  cursor: pointer;

  font-size: 16px;
  font-weight: var(--pretendard-semibold);

  background-color: var(--btn-bg);
  color: white;
}

.form .form__btn--submit:hover,
.form .form__btn--submit:focus {
  background-color: white;
  color: var(--text-basic-color);
}

.form__error {
  color: red;
}

/* login */
.form-lg {
  min-height: 70vh;
  margin-top: 10vh;
}

.form__title {
  text-align: center;
  margin-bottom: 4px;
}

.form__link {
  margin-left: 10px;
  text-decoration: none;
  color: gray;
}

.form__link:hover,
.form__link:focus {
  color: var(--text-basic-color);
}
